@tailwind base;
@tailwind components;
@tailwind utilities;

body, input, button, select, textarea {
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}